* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  padding: 5px;
}

.header-container{
  margin-left: 6px;
  margin-right: 6px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 1px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

table{
  width: 100%;
  border-radius: 4px;
  border-collapse:collapse;
}
tr,td,th,table{
  border: 1px solid;
}
th{
  padding: 3px;
}
td{
  padding: 3px;
}

.searchfor{
  display: flex;
  width: 90%;
  border: 1px solid black;
  margin: 5px 40px;
  height: 40px;
  border-radius: 10px;
  padding: 4px;
  justify-content: space-between;
}

.search-input{
  text-align: left;
  flex: 1;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  width: 80%;
}
.searchfor i{
background: transparent;
border: none;
outline: none;
font-size: 26px;
cursor: pointer;
}
.form-inputs{
  display: flex;
  justify-content: space-evenly;
}

#new-item{
  height: 70px;
  border: 2px solid black;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

#new-item input{
  height: 25px;
  font-size: 16px;
}
#new-item button{
  height: 25px;
  margin-top: 8px;
  border-radius: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
}

button:hover{
  background-color: blue;
  color: white;
  border-radius: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
}